
@{
    ViewData["Title"] = "Contact";
}

<html>
<head>
    <link rel="stylesheet" href="~/Content/contactabout.css">
    <br />
    <div class="infor">
        <h1>Contact Us</h1>
        <p> Contact Center (24/7)</p>
           <p>+38 (044) 581-50-50 , +38 (044) 593-76-08</p>
            <p>Contact@flyuia.com</p>
<p> You can also book a flight online or request to change your booking.</p>
        <br />
    </div>
    <br />
</head>
<body class="bg">
</body>
</html>

