<!DOCTYPE html>
<html>
<head>
    <a class="links" id="registerlinks" href="/Home/Register/">Register</a>
    <a class="links" id="loginlinks" href="/Home/Login">Login</a>
    <a class="links" id="testchange"> </a>

</head>
<body class="bg">
    
    
    @RenderBody()
    <div id="footer" style="text-align:center;">
        <p id="agileinfo">
            &copy; 2017 Flight Ticket Booking . All Rights Reserved |
            <a href="/Home/About"> About US</a> |
            <a href="/Home/Contact"> Contact US </a> |
            Design by Nelson
        </p>
    </div>

</body>
</html>
